################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSocketChatService/.vs/WebSocketChatService
/WebSocketChatService/ConsoleApp1/.vs/ChatService
